

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url('https://bit.ly/495mbvO');
    background-size: cover;
}


.home-container {
    display:flex;
    flex-direction: row;
    padding-top:0px;
    background-color: #f1f1ef; 
    border-radius: 10px;
    width:70%;
    height:70vh;
  }
  
  .home-logo {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .home-content-container{
    display:flex;
    flex-direction: column;
    padding:12px;
  }

  .home-title{
    text-align: center;
    font-size:32px;
    color:#00004C;
    font-family:'Roboto';
  }

  .home-para{
    color:#660018;
    font-family: "Roboto";
    font-size:20px;
    padding-left:10px;
  }