

.main-contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url('https://bit.ly/495mbvO');
    background-size: cover;

}


.contact-container {
    display:flex;
    flex-direction: row;
    padding-top:0px;
    background-image: url('https://bit.ly/3Uaz2IQ'); 
    border-radius: 10px;
    width:100%;
    height:70vh;
    background-size: cover;
    margin-left:200px;
    margin-right:200px;
  }
  
  
  
  .contact-content-container{
    display:flex;
    flex-direction: column;
    padding:12px;
  }

  .contact-title{
    text-align: center;
    font-size:35px;
    color:#20124d;
    font-family:'Roboto';
    font-weight:bold;
    font-family:"Roboto";
  }

  .contact-info{
    display:flex;
    flex-direction:column;
  }
  
  .add-title{
    font-size:20px;
    color:#042644;
  }

  .contact-para{
   color:#0c343d;
    font-size:20px;
    padding:10px;
  }

  .add-para{
    font-size:15px;
    color:#5b5b5b;
    font-size:20px;
  }